<html lang="en">
<head>
    <title>jupiter</title>
    <style>
        .top{
            background-color: tomato;
            text-align: center;
            color: white;
            padding: 20px;
        }
        body{
            
            background-color: antiquewhite;
        }
        p{
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body style="margin: 0;">
    <div class="top">
        <h1>Jupiter</h1>
        </div>
    <p>
        Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass more than two and a half times that of all the other planets in the Solar System combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third brightest natural object in the Earth's night sky after the Moon and Venus. People have been observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the gods, because of its observed size.

Jupiter is primarily composed of hydrogen, but helium constitutes one-quarter of its mass and one-tenth of its volume. It likely has a rocky core of heavier elements,[16] but, like the other giant planets, Jupiter lacks a well-defined solid surface. The ongoing contraction of its interior generates heat greater than the amount received from the Sun. Because of its rapid rotation, the planet's shape is an oblate spheroid; it has a slight but noticeable bulge around the equator. The outer atmosphere is visibly segregated into several bands at different latitudes, with turbulence and storms along their interacting boundaries. A prominent result of this is the Great Red Spot, a giant storm known to have existed since at least the 17th century when telescopes first saw it.
    </p>
</body>
</html>